header{
    font-family: Arial, sans-serif;
}

/* color del fondo columna izquierda */

.bg-primary{
    background: color #2c3e50; !important;
}

/*.imagen{
max-width: 80%;
} */
/* Opacidad barra de progreso */
.progress{
    background: rgba(255, 255, 255, 0.2) !important;
}

/* cambio color texto col dere*/
.text-primary{
    color: #3498db !important;
}

.card{
    transition: tranform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
    transform: translate(-15px);
    box-shadow:0 10px 20px rgba(0, 0, 0, 0.1);
}